@import '~utils/index.scss';

html, body {
  padding: 0;
  margin: 0;
}

body {
  @include reset();
}

@include mobile {
  // offset for element matches anchor
  // https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors#answer-56467997
  html {
    scroll-padding-top: $mobile-header-height;
  }
}
