@import '~utils/index.scss';

.runResult {
  position: relative;
  margin: 0;

  max-height: 136px;
  @include mobile {
    max-height: 125px;
  }

  padding: 20px;
  overflow-x: auto;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  border-top: none;
  border-radius: 0 0 8px 8px;

  p {
    margin: 0;
  }

  > p + p {
    margin-top: 12px;
  }
}

.tip {
  color: #666;
}

.warning {
  color: #FA8C16;
}

.error {
  color: #EF4149;
}

.loading {
  display: flex;
  align-items: center;

  .iconLoading {
    flex: 0 0 auto;
    margin-right: 12px;
  }
}
