@import '~utils/index.scss';

.section {
  @include centered;
  padding-top: 72px;
}

.title {
  font-size: 28px;
  color: #000;
  text-align: center;
  margin: 0 0 44px;
}

.content {
  display: flex;
}

.features {
  width: 0;
  flex: 1;
  word-wrap: break-word;
}
