@import '~utils/index.scss';

.section {
  @include centered;
  padding-top: 72px;
}

.title {
  @include section-title;
  margin: 0 0 44px;
}

.content {
  display: flex;
}

.features {
  width: 0;
  flex: 1;
  word-wrap: break-word;
}
