@import "~utils/index.scss";

.container {
  @include centered;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.main{
    display: block;
}
.title{
    font-size: 2.25rem;
    font-weight: bold;
}

.titleH2{
    font-size: 1.5rem;
    font-weight: bold;
}

.description {
    color: #202224;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 75.75rem;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}

.link {
  color: #007d9c;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.downloadWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.downloadBox {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.5);
  background: #f8f8f8;
  width: 14rem;
  height: 9rem;
  float: left;
  padding: 1rem;
}

.downloadBoxTitle {
  font-size: large;
  width: auto;
  margin-top: 0.15rem;
  margin-bottom: 0.1rem;
}

.downloadBoxP {
  width: auto;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1rem;
  margin-top: 0.7rem;
  margin-bottom: auto;
  color: #6e7072;
}

.downloadBoxLink {
  width: auto;
  color: #007d9c;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.85rem;
  margin-top: auto;
}

.downloadBoxLink:hover {
  text-decoration: underline;
}

.grid {
  color: #202224;
  margin: 0 auto 1.875rem;
  max-width: 75.75rem;
  padding: 0 1.5rem;
}

.releaseList {
  list-style-type: none;
  margin-left: -2.5rem;
}

.releaseItemName {
  font-weight: 500;
  font-size: 1.1rem;
  background: #f8f8f8;
  margin-bottom: 10px;
  padding: 0.7rem;
  height: 2.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.downloadTable {
  width: 100%;
  border-collapse: collapse;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  margin-top: -0.5rem;
  padding-left: 0.5rem;
  padding-top: -1rem;
  padding-bottom: 1rem;
}

.downloadTableHeader {
  vertical-align: middle;
  border-color: inherit;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.tableHighlight {
  vertical-align: inherit;
  border-color: inherit;
}

.filename {
  vertical-align: inherit;
}

.buttonLink {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-left: 1.1rem;
  color: #007d9c;
  text-decoration: none;
}

.releaseSpan {
  padding-left: 1.5rem;
  margin-left: 1.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: italic;
}
