@import "~utils/index.scss";

.main {
  @include centered;

  @include mobile {
    padding: 0px 16px;
  }
}

.title {
  font-size: 36px;
}

.titleH2 {
  font-size: 26px;
}

.description {
  margin: 16px 0;
}

.downloadWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.downloadBox {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  width: 14em;
  padding: 16px;
}

.downloadBoxTitle {
  font-size: 16px;
  margin: 0;
}

.downloadBoxP {
  font-size: 14px;
  margin-bottom: auto;
  color: #6e7072;
}

.downloadBoxLink {
  width: auto;
  font-size: 12px;
  margin-top: 12px;
  word-break: break-all;

  @include link;
}

.link {
  @include link;
}

.releaseList {
  padding: 0;
  list-style-type: none;
}

.releaseItemName {
  font-size: 16px;
  background: #f8f8f8;
  margin: 10px 0;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.downloadTable {
  @include pc {
    width: 100%;
  }
  th, td {
    padding: 4px 16px;
  }
}

@include mobile {
  .releaseAssetListDiv {
    width: 100%;
    overflow-x: auto;
  }
  .downloadTableHeaderName {
    min-width: 20em;
  }
  .downloadTableHeaderKind {
    min-width: 7em;
  }
  .downloadTableHeaderOs {
    min-width: 7em;
  }
  .downloadTableHeaderArch {
    min-width: 7em;
  }
  .downloadTableHeaderSize {
    min-width: 5em;
  }
}

.buttonLink {
  font-weight: normal;
  font-size: 18px;
  margin-left: 16px;
  color: #007d9c;
  text-decoration: none;
}
