@mixin btnBase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  transition: all .2s;
}

.btn {
  @include btnBase;
  color: #2c84ff;
  background-color: transparent;
  border: 1px solid #2c84ff;
}

.btn:hover {
  color: #fff;
  background-color: #2c84ff;
}

.primaryBtn {
  @include btnBase;
  color: white;
  background-color: #2c84ff;
  box-shadow: 0 16px 32px rgba(44, 132, 255, 0.2);
}

.primaryBtn:hover {
  background-color: #4f98ff;
}
