@import '~utils/index.scss';

.section {
  @include centered;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 48px;

  @include mobile {
    padding-top: 44px;
  }
}

.title {
  @include section-title;
  margin: 0;

  @include mobile {
    margin-bottom: 24px;
  }
}
