.section {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 72px;
}

.title {
  font-size: 28px;
  color: #000;
}

.tabs {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 4px;
  margin: 36px 0 32px 0;
}

.tab {
  font-size: 16px;
  width: 296px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.tab:hover {
  color: #000;
}

.selected {
  background-color: white;
  border-radius: 6px;
  color: #000;
}

.tabContent {
  width: 900px;
  font-size: 14px;
}

.tabContent > *:first-child {
  margin-top: 0;
}

.tabContent h4 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 28px;
  margin: 32px 0 24px;
}

.tabContent p {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  margin: 16px 0;
}

.tabContent ul {
  margin: 24px 0 28px;
}

.tabContent li {
  font-size: 14px;
  line-height: 20px;
  margin: 16px 0;
}

.tabContent li:first-child {
  margin-top: 0;
}

.tabContent a {
  text-decoration: underline;
}
