@import '../../../utils/index.scss';

.section {
  @include centered;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 72px;

  @include mobile {
    padding-top: 44px;
  }
}

.title {
  margin: 0;
  font-size: 28px;

  @include mobile {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
