.section {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 72px;
}

.summary .title {
  margin-top: 72px;
}

.tabs {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 4px;
  margin: 36px 0 32px 0;
}

.tab {
  font-size: 16px;
  width: 296px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.tab:hover {
  color: #000;
}

.selected {
  background-color: white;
  border-radius: 6px;
  color: #000;
}

.advantages {
  width: 900px;
  margin-bottom: 72px;
}

.advantage {
  font-size: 14px;
  margin: 16px 0;
}
