.tabs {
  position: relative;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 4px;
  margin: 36px 0 32px 0;
}

.tab {
  z-index: 10;
  font-size: 16px;
  width: 296px;
  height: 40px;
  line-height: 40px;
  color: #666;
  text-align: center;
  cursor: pointer;
}

.selectedTab, .tab:hover {
  color: #333;
}

.backgroundBar {
  z-index: 9;
  top: 4px;
  left: 4px;
  position: absolute;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  transition-property: all;
}

.tabContent {
  width: 900px;
  font-size: 14px;
}
