@import '~utils/index.scss';

.section {
  @include centered;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 72px;
  padding-bottom: 48px;

  @include mobile {
    padding: 40px 16px 0;
  }
}

.goPlus {
  margin-bottom: 31px;
  @include mobile {
    margin-bottom: 21px;
  }
}

.slogan {
  @include section-title;

  @include mobile {
    margin: 0 50px;
  }
}

.btnsWrap {
  display: flex;
  margin: 28px 0 48px 0;

  @include mobile {
    flex-direction: column;
    margin: 36px 0 40px 0;
  }

  & > :not(:first-child) {
    @include pc {
      margin-left: 28px;
    }
    @include mobile {
      margin-top: 28px;
    }
  }
}

@mixin btnBase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}

.btn {
  @include btnBase;
  color: #2c84ff;
  background-color: white;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  color: #4f98ff;
  background-color: #FAFAFA;
}

.installTxt {
  margin-left: 20px;
}

.primaryBtn {
  @include btnBase;
  color: white;
  background-color: #2c84ff;
  box-shadow: 0px 16px 32px 0px rgba(44, 132, 255, 0.2);
}

.primaryBtn:hover {
  background-color: #4f98ff;
}

.title {
  @include section-title;
  margin: 24px 0 36px;

  @include mobile {
    margin: 24px 0 24px;
  }
}

.codeEditorWrapper {
  width: 900px;
  font-size: 16px;

  @include mobile {
    width: 100%;
  }
}

.codeEditor {
  height: 220px;
}
