@import '~utils/index.scss';

.section {
  @include centered;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 72px;
  padding-bottom: 48px;

  @include mobile {
    padding: 40px 16px 0;
  }
}

.logo {
  display: flex;
  margin-bottom: 24px;

  svg {
    width: 128px;
    height: auto;
  }

  @include mobile {
    margin-bottom: 20px;
    svg {
      width: 100px;
    }
  }
}

.slogan {
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  font-family: monospace;

  @include mobile {
    font-size: 22px;
    line-height: 34px;
    margin: 0 9px;
  }
}

.sloganDesc {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  margin-top: 8px;

  @include mobile {
    font-size: 14px;
    line-height: 24px;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.btnsWrap {
  display: flex;
  margin: 48px 0;

  @include mobile {
    flex-direction: column;
    margin: 40px 0;
  }

  & > :not(:first-child) {
    @include pc {
      margin-left: 24px;
    }
    @include mobile {
      margin-top: 16px;
    }
  }
}

.iconArrowRight {
  margin-left: 20px;
}

.title {
  @include section-title;
  margin: 32px 0 48px;

  @include mobile {
    margin: 16px 0 24px;
  }
}

.codeEditorWrapper {
  width: 1024px;
  font-size: 16px;

  @include mobile {
    width: 100%;
    margin-bottom: 16px;
  }
}

.codeEditor {
  height: 268px;

  @include pc {
    resize: vertical;
  }
  @include mobile {
    height: 220px;
  }
}
