@import './variables.module.scss';

@mixin mobile {
  @media screen and (max-width: $mobile-max-width) {
    @content
  }
}

@mixin pc {
  @media screen and (min-width: ($mobile-max-width + 1px)) {
    @content
  }
}

@mixin centered {
  width: 100%;
  @include pc {
    min-width: $min-pc-content-width;
    max-width: $max-pc-content-width;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin section-title {
  margin: 0 0 48px;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  color: #000;

  @include mobile {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 36px;
  }
}

@mixin link {
  color: #2c84ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// style reset for page (& widgets)
@mixin reset($fontSize: 16px) {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  font-size: $fontSize;
  line-height: 1.5;
  color: #333;
  background-color: white;

  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 6px;
    background-color: rgba(175, 184, 193, 0.2);
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 600;
    font-family: Inter, PingFangSC, PingFangSC-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  }
}
