<!doctype html>
<html>
<head>
    <title>The XGo Playground</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {{if .Analytics}}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11222381-7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-11222381-7');
            gtag('config', 'UA-49880327-6');
        </script>
    {{end}}
    <script src="https://cdn.staticfile.org/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/jquery-linedtextarea.js"></script>
    <script src="/static/playground.js"></script>
    <script src="/static/playground-embed.js"></script>
    <script>
        $(document).ready(function () {
            playground({
                'codeEl': '#code',
                'outputEl': '#output',
                'runEl': '#run, #embedRun',
                'fmtEl': '#fmt',
                'fmtImportEl': '#imports',
                {{if $.Share}}
                'shareEl': '#share',
                'shareURLEl': '#shareURL',
                {{end}}
                'enableHistory': true,
                'enableShortcuts': true,
                'enableVet': true,
                'toysEl': '.js-playgroundToysEl'
            });
            playgroundEmbed({
                'codeEl': '#code',
                {{if $.Share}}
                'shareEl': '#share',
                {{end}}
                'embedEl': '#embed',
                'embedLabelEl': '#embedLabel',
                'embedHTMLEl': '#shareURL'
            });
            $('#code').linedtextarea();
            // Avoid line wrapping.
            $('#code').attr('wrap', 'off');
            var about = $('#about');
            about.click(function (e) {
                if ($(e.target).is('a')) {
                    return;
                }
                about.hide();
            });
            $('#aboutButton').click(function () {
                if (about.is(':visible')) {
                    about.hide();
                    return;
                }
                about.show();
            })
            // Preserve "Imports" checkbox value between sessions.
            if (readCookie('playgroundImports') == 'true') {
                $('#imports').attr('checked', 'checked');
            }
            $('#imports').change(function () {
                createCookie('playgroundImports', $(this).is(':checked') ? 'true' : '');
            });
            {{if .Analytics}}
            // Fire Google Analytics events for Run/Share button clicks.
            $('#run').click(function () {
                gtag('event', 'click', {
                    event_category: 'playground',
                    event_label: 'run-button',
                });
            });
            $('#share').click(function () {
                gtag('event', 'click', {
                    event_category: 'playground',
                    event_label: 'share-button',
                });
            });
            {{end}}
        });

        function createCookie(name, value) {
            document.cookie = name + "=" + value + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    </script>
</head>
<body itemscope itemtype="http://schema.org/CreativeWork">
<input type="button" value="Run" id="embedRun">
<div id="banner">
    <div id="head" itemprop="name">XGo</div>
    <input type="button" value="Run" id="run">
    <input type="button" value="Format" id="fmt">
    <!--			<div id="importsBox">
                    <label title="Rewrite imports on Format">
                        <input type="checkbox" id="imports">
                        Imports
                    </label>
                </div>-->
    {{if $.Share}}
        <input type="button" value="Share" id="share" class="mobilehide">
        <input type="text" id="shareURL">
        <label id="embedLabel">
            <input type="checkbox" id="embed">
            embed
        </label>
    {{end}}
    <select class="js-playgroundToysEl">
        <option value="hello.txt">Hello, XGo</option>
        <option value="basic.txt">XGo Basic</option>
        <option value="range.txt">Range</option>
        <option value="rational.txt">Rational</option>
        <option value="slice.txt">Slice literal</option>
        <option value="listmap.txt">List/Map comprehension</option>
        <option value="error.txt">Error wrap</option>
    </select>
    <iframe id="iframe" src="https://ghbtns.com/github-btn.html?user=goplus&repo=gop&type=star&count=true&size=large"
            frameborder="0" scrolling="0" class="github-stars mobilehide"></iframe>

    <input type="button" value="About" id="aboutButton" class="mobilehide">
</div>
<div id="wrap">
    <textarea itemprop="description" id="code" name="code" autocorrect="off" autocomplete="off" autocapitalize="off"
              spellcheck="false">{{printf "%s" .Snippet.Body}}</textarea>
</div>
<div id="output"></div>
<img itemprop="image" src="/static/gopher.png" style="display:none">

<div id="about">
    <div class="row open-source">
        <h1>About XGo Playground</h1>
        <p>
            The XGo Playground is a web service that runs on
            <a href="https://xgo.dev">xgo.dev</a>'s servers.
            The service receives a XGo program.
            runs the program inside a gopherjs,
            then returns the output.
        </p>
    </div>

    <div class="row open-source">
        <div class="col-md-12">
            <h1><i class="fa fa-github"></i> Open Source</h1>
            <p>XGo - Enable everyone to become a builder of the world. All components are available under the <a
                        href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a> on <a
                        href="https://github.com/goplus/gop">GitHub</a>.</p>
            <iframe src="https://ghbtns.com/github-btn.html?user=goplus&repo=gop&type=star&count=true&size=large"
                    frameborder="0" scrolling="0" class="github-stars"></iframe>
        </div>
    </div>
</div>

</body>
</html>

