@import '../../utils/index.scss';

@include pc {

  .footer {
    @include centered;

    margin-top: 60px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .qiniuDoll {
    padding-top: 10px;
    img {
      display: block;
    }
  }

  .links {
    margin-left: 170px;
    flex-grow: 1;
  }

  .links a {
    position: relative;
    margin-right: 81px;
  }

  .links a:hover {
    color: #000;
  }

  .links a::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -40px;
    width: 1px;
    height: 20px;
    transform: translateY(-50%);
    background: #e5e5e5;
  }

  .links a:last-child::after {
    content: none;
  }

  .arrow {
    display: none;
  }

  .powerBy {
    display: flex;
    align-items: center;
  }

  .powerBy span {
    margin-right: 12px;
  }

}

@include mobile {
  .footer {
    margin-top: 72px;
  }

  .qiniuDoll {
    display: none;
  }

  .links a {
    display: flex;
    padding: 0 16px;
    height: 48px;
    align-items: center;
    justify-content: space-between;
  }

  .arrow {
    margin-left: 16px;
  }

  .powerBy {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 16px;
      color: #666;
      margin-right: 8px;
    }
  }
}
