@import '~utils/index.scss';

.wrapper {
  position: relative;
  min-height: 28px + (20px * 2); // opBtn height + padding top + padding bottom
  line-height: 1.7143;

  p {
    margin: 0;
  }
}

.codeSegment {
  .code {
    font-family: monospace;
    white-space: pre;
    background-color: #FAFAFA !important;
    overflow-x: auto;
  }
}

@include pc {
  .codeSegment {
    display: flex;
    flex-direction: row;

    .doc, .code {
      flex: 1 1;
    }

    .doc {
      padding: 0 40px 6px 0;
    }

    .code {
      padding: 0 20px 6px;
    }

    &:first-child {
      .doc, .code {
        padding-top: 20px;
      }
    }

    &:last-child {
      .doc, .code {
        padding-bottom: 20px;
      }
    }
  }

  .hasDoc .codeSegment {
    .doc, .code {
      flex: 0 0 50%;
    }
  }
}

@include mobile {
  .hasDoc {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #F0F0F0;

    .code, .doc {
      margin-bottom: 1em;
    }

    .codeSegment:last-child .code {
      margin-bottom: 0;
    }
  }

  .code {
    padding: 20px;
  }
}

.ops {
  display: flex;
}

@include pc {
  .ops {
    position: absolute;
    right: 20px;
    top: 20px;
    visibility: hidden;
  }

  .wrapper:hover .ops {
    visibility: visible;
  }
}

@include mobile {
  .ops {
    justify-content: end;
    margin: 1em 0;
  }
}

.opBtn {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #666;
  background-color: #FAFAFA;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  transition: all .2s;

  &:hover {
    background-color: #F5F5F5;
  }

  &:active {
    background-color: #F0F0F0;
  }

  &:disabled {
    background-color: #F0F0F0;
    svg {
      opacity: .5;
    }
  }

  &.highlight {
    color: #2C84FF;
    border-color: #2C84FF;
  }

  &.loading {
    // TODO: detail style for status loading
  }

  + .opBtn {
    margin-left: 16px;
  }
}

.runResult {
  position: relative;
  margin: 0;
  padding: 20px;
  overflow-x: auto;
  background-color: #F0F0F0;

  .tip {
    margin: 0;
    color: #666;
  }

  .error {
    color: #900;
  }
}

@include pc {
  .hasDoc .runResult {
    margin-left: 50%;
  }
}

@include mobile {
  .hasDoc .runResult {
    margin-top: 1em;
  }
}
