@import '~utils/index.scss';

.wrapper {
  position: relative;
  min-height: 28px + (20px * 2); // opBtn height + padding top + padding bottom
  line-height: 1.7143;

  p {
    margin: 0;
  }
}

.code {
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
  background-color: #FAFAFA !important;
  border: 1px solid #E5E5E5;
}

@include pc {
  .code {
    border-top-width: 0;
    border-bottom-width: 0;
  }
  .codeSegment:first-child .code {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-width: 1px;
  }
  .codeSegment:last-child .code {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-width: 1px;
  }
  .hasRunResult .codeSegment:last-child .code {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@include mobile {
  .code {
    border-radius: 8px;
  }
}

@include pc {
  .codeSegment {
    display: flex;
    flex-direction: row;

    .doc, .code {
      flex: 1 1;
    }

    .doc {
      padding: 0 40px 6px 0;
    }

    .code {
      padding: 0 20px 6px;
    }

    &:first-child {
      .doc, .code {
        padding-top: 20px;
      }
    }

    &:last-child {
      .doc, .code {
        padding-bottom: 20px;
      }
    }
  }

  .hasDoc .codeSegment {
    .doc, .code {
      flex: 0 0 50%;
    }
  }
}

@include mobile {
  .hasDoc {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #F0F0F0;

    .code, .doc {
      margin-bottom: 1em;
    }

    .codeSegment:last-child .code {
      margin-bottom: 0;
    }
  }

  .code {
    padding: 20px;
  }
}

.ops {
  display: flex;
}

.ops {
  position: absolute;
  right: 20px;
  top: 20px;
  visibility: hidden;
}

.wrapper:hover .ops {
  visibility: visible;
}

.opBtn {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #666;
  background-color: #FAFAFA;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  transition: all .2s;

  &:hover {
    background-color: #F5F5F5;
  }

  &:active {
    background-color: #F0F0F0;
  }

  &.highlight {
    color: #2C84FF;
    border-color: #2C84FF;
  }

  + .opBtn {
    margin-left: 16px;
  }
}

.runResult {
  position: relative;
  margin: 0;
  padding: 20px;
  overflow-x: auto;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  border-top: none;
  border-radius: 0 0 8px 8px;

  > p + p {
    margin-top: 12px;
  }

  .tip {
    color: #666;
  }

  .warning {
    color: #FA8C16;
  }

  .error {
    color: #EF4149;
  }

  .loading {
    display: flex;
    align-items: center;

    .iconLoading {
      margin-right: 12px;
    }
  }
}

@include pc {
  .hasDoc .runResult {
    margin-left: 50%;
  }
}

@include mobile {
  .hasDoc .runResult {
    margin-top: 1em;
  }
}

.iconLoading {
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform-origin: 50% 50%;
      transform: rotate(0);
    }
    to {
      transform-origin: 50% 50%;
      transform: rotate(360deg);
    }
  }
}
